*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    
}
.wrap{
    width: 5000px;
    height: 5000px;
    max-width: 100%;
    max-height: 100%;
    background-color: azure;
    
}

.header{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    color: rgb(221, 217, 217);
    background-color: rgb(73, 73, 75);
}

.header> span{
    font-size: 2rem;
    margin-left: 5%;
}

.header > ul{
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.header > ul > li{
    margin: 0 20px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.header > ul > li:hover{
    
}


.footer{
    height: 20%;
}

