/* .container{
    height: 80%;
    width: 100%;
} */

.container-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
}

.content-1{
    width: 60%;
}

.content-2{
    background-color: var(--content-color);
    height: 400px;
    width: 30%;
    border-radius: 15px;
    text-align: center;
    font-weight: 700;
}

.content-function > i{
    margin-top: 3px;
    margin-right: 5px;
    
}
