.container-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
}

.content-1{
    width: 60%;
}


.content-function > i{
    margin-top: 3px;
    margin-right: 5px;
    
}

.content-2{
    background-color: var(--content-color);
    height: 681px;
    width: 30%;
    border-radius: 15px;
    text-align: center;
    font-weight: 700;
}

.content-2-slide{
    width: 100%;
    display: flex;
    margin: 15px 0;
}

.content-2-slide > img{
    height: 150px;
    width: 40%;
    border-radius: 5px;
}

.content-2-slide > span{
    width: 50%;
    margin-left: 5%;
}
