.content-1{
    width: 70%;
    margin-left: 20px;
}

.container-showpara{
    height: 120px;
    width: 100%;
    background-color: rgb(168, 164, 164);
    margin-top: 5%;
}

.content-showpara{
    display: flex;
    justify-content: space-between;
}

.content-showpara >span{
    padding: 15px;
    font-size: 2rem ;
}

.content-showpara> ul{
    list-style: none;
    margin-top: 15px;
    padding-right: 50px;

}

.content-function{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 9px;
}

.content-function > button{
    padding: 1px 5px;
    border: 1px solid rgb(192, 186, 186);
    border-radius: 10px;
    background-color: green;
}

.content-2{
    margin-top: 4%;
    margin-right: 50px ;
}